.manajuego {
    .custom-manati {
        max-height: 80vh;
        height: 55vh;
        width: 18vw;
    }

    .input-line-p-r:first-child {
        width: 10vw;
    }
    
    .input-line-p-r:last-child {
        width: 1vw;
        height: 1vw;
        border-radius: 50%;
        top: -0.5vw;
        left: 10vw;
    }
    .input-line-p-l:first-child {
    width: 1vw;
        height: 1vw;
        border-radius: 50%;
        top: -0.5vw;
    }
    
    .input-line-p-l:last-child {
        width: 10vw;
    }
    
    .game_input_container {
        position: relative;
        z-index: 2;
    }
    
    .game_input_container.game_input_container-1 {
        left: 13vw;
        top: -6vw;
    }
    
    .game_input_container.game_input_container-2 {
        left: 18vw;
        top: -2vw;
    }

    
    .game_input_container-3 {
        left: 16vw;
        top: -1vw;
    }

    .flecha-container-right {
        position: absolute;
        left: -10vw;
        top: 8vh;
    }
    
    .game_input_container-4 {
        left: -17vw;
        top: -2.5vw;
    }
    
    .game_input_container-5 {
        left: -10vw;
        top: -1.5vw;
    }

    img.terminar {
        position: relative;
        left: -5vw;
        top: 10vw;
    }

    .game_input_container .container.secondary-container {
        border-color: white;
    }
    .container.secondary-container p.draggable {
        color: #106c64;
    }
    
    .main-container {
        background-color: #106c64        ;
    }

    .game_input_container.rejected .input-line {
        background-color: red;
        }
        
        .game_input_container.rejected .container.secondary-container { 
            border-color: red;
        }
        
        .game_input_container.approved .input-line {
            background-color: darkgreen;
            }
            
            .game_input_container.approved .container.secondary-container { 
                border-color: darkgreen;
            }
}