@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background-image: "/background/escenario.gif" ;
  font-family: 'Poppins', sans-serif;

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* En globals.css */
@layer utilities {
  .transition-max-height {
    transition: max-height 0.5s ease-in-out;
  }
}

